# OS generated
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Dotnet
bin/
obj/
.vs/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Rust
target/
Cargo.lock

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log
.gemini/
tmp/
